* {
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    color: cyan;
}

h2 {
    font-size: 1.5rem;
}

body {
   background-image: url("/images/nikeshoebackground.png");
}



