<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Nike Library Brands</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
</head>

<body>
<header class="header">
    <h1 class="header__title">Welcome to the Nike Library</h1>
    <h2 th:text="${division.type}">Type</h2>
</header>
<section>
    <h2>Here is a list of our brands:</h2>
        <ul>
            <li th:each="brand:${division.brands}">
                <a th:href="@{'/brands/'+ ${brand.id}}"
                   th:text="${brand.title}">Running Woman</a>
            </li>
        </ul>
    <a href="/divisions">back to divisions</a>
    <form method="POST" th:action="'/divisions/'+ ${division.type} + '/add-division'">
        <input name="divisionId" th:value="${division.id}" type="hidden">
        <input type="text">
    </form>
</section>
</body>
</html>